body{
    font-family: Arial;
}

.todo-grid,
.todo-input-gird{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 8px;
    align-items: center;
}

.todo-input-gird{
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date-input{
    padding: 8px 8px;
    font-size: 15px;

}

.todo-add{
    background-color: rgb(7, 105, 7);
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.todo-delete{
    background-color: darkred;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}